.task-reminder-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background: transparent;
    max-width: 342px;
    width: 100%;
    margin-bottom: 12px;
}

.task-complete, .task-pending {
    flex: 1;
    margin: 0 5px;
    height: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.task-complete {
    background: #EFF2FF;
}

.task-pending {
    background: #FFE6E7;
}

.task-complete-header, .task-pending-header {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.task-complete-text, .task-pending-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11.5px;
    color: #090E23;
    margin-left: 9px;
}

.task-complete-details, .task-pending-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.task-count {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #090E23;
    margin-right: 5px;
}

.task-week {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #6E7180;
}

.task-icon, .pending-icon {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-icon {
    background: #99ADFF;
}

.pending-icon {
    background: rgba(255, 177, 181, 0.4);
}

@media (max-width: 360px) {
    .task-reminder-container {
        max-width: 280px;
    }

    .task-complete, .task-pending {
        height: auto;
        margin: 0 2px;
    }

    .task-complete-text, .task-pending-text {
        font-size: 11px;
    }

    .task-count {
        font-size: 20px;
    }

    .task-week {
        font-size: 9px;
    }
}